/* Colors */
/* Shadow */
/* Border */
/* Panels */
/* Rounded Corners */
/* Main CSS */
* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  font-family: Tahoma;
  background: url(http://farm9.staticflickr.com/8214/8282896429_ba42212986_o.jpg) no-repeat center center fixed;
  background-size: cover; }

#main {
  overflow: hidden;
  padding: 20px;
  color: #000;
  margin: 0 auto;
  width: 1240px; }

h1 {
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-bottom: 20px; }

h2 {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  padding-top: 10px; }

a {
  color: #000;
  font-weight: bold; }

p {
  margin-bottom: 10px; }

#post-list {
  float: left;
  width: 300px;
  list-style: none;
  line-height: 1em; }
  #post-list h1 {
    font-size: 14px;
    margin-bottom: 0; }
  #post-list p {
    margin-bottom: 10px;
    font-size: 11px; }
  #post-list .single-excerpt {
    margin-bottom: 20px;
    padding-right: 9px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75); }
    #post-list .single-excerpt a {
      text-decoration: none;
      font-weight: normal;
      padding: 16px 20px;
      display: block; }
    #post-list .single-excerpt .date {
      font-size: 10px;
      font-weight: bold; }
  #post-list .single-excerpt.active {
    padding-right: 0;
    border-right: 10px solid #000; }
  #post-list .meta {
    overflow: hidden;
    margin-top: 5px; }
    #post-list .meta span {
      padding-left: 20px;
      margin-right: 10px;
      height: 16px;
      font-size: 10px;
      float: left;
      padding-top: 2px; }
    #post-list .meta span.categories {
      background: url(../img/categories.png) no-repeat top left; }
    #post-list .meta span.author {
      background: url(../img/author.png) no-repeat top left; }
    #post-list .meta span.comments {
      background: url(../img/comment.png) no-repeat top left; }
    #post-list .meta span.tags {
      background: url(../img/tags.png) no-repeat top left; }

#content {
  float: left;
  padding: 20px;
  margin-left: 20px;
  width: 600px;
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75); }
  #content .title {
    width: 460px;
    line-height: 1.2em; }
  #content .date, #content .comment-count {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 10px 0 7px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    width: 60px;
    line-height: 1.4em;
    font-weight: normal;
    border-radius: 0 0 2px 2px;
    background: #000; }
  #content .comment-count {
    right: 90px; }
  #content .date .day, #content .comment-count .count {
    font-size: 26px;
    display: block;
    text-align: center; }
  #content .date .month-year, #content .comment-count .comment {
    font-size: 10px;
    display: block;
    text-align: center; }
  #content pre {
    padding: 2px;
    font-size: 12px;
    line-height: 1.5em;
    overflow-x: auto;
    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75); }
  #content pre code {
    white-space: pre; }

#aside {
  float: left;
  padding: 20px;
  margin-left: 20px;
  width: 210px;
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75); }
  #aside .title {
    width: 300px;
    line-height: 1.2em; }
  #aside ul {
    list-style: inside;
    margin-bottom: 20px; }

code {
  background: #272822;
  color: #fff;
  margin: 0 2px;
  overflow-x: scroll; }
