* {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	font-size: 14px;
  line-height: 1.5em;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Tahoma;
  background: url(http://farm5.staticflickr.com/4037/4342953620_a103ce7b6e_o.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main {
	overflow: hidden;
	padding: 20px;
}

h1 {
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}

h2 {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}

a {
  color: black;
  font-weight: bold;
}

p {
  margin-bottom: 20px;
}

#post-list {
  float: left;
  width: 300px;
  list-style: none;
}

#post-list h1 {
  font-size: 14px;
  margin-bottom: 5px;
}

#post-list p {
  margin-bottom: 5px;
  font-size: 10px;
}

#post-list .single-excerpt {
  margin-bottom: 20px;
  padding: 16px 20px;
  cursor: pointer;
  background-color:   rgba(255,255,255,0.90);
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
}

#post-list .meta {
  overflow: hidden;
  margin-top: 5px;
}

#post-list .meta span {
  padding-left: 20px;
  margin-right: 10px;
  height: 16px;
  font-size: 10px;
  float: left;
  padding-top: 2px;
}

#post-list .meta span.categories {
  background: url(../img/categories.png) no-repeat top left;
}

#post-list .meta span.author {
  background: url(../img/author.png) no-repeat top left;
}

#post-list .meta span.comments {
  background: url(../img/comment.png) no-repeat top left;
}

#post-list .meta span.tags {
  background: url(../img/tags.png) no-repeat top left;
}

#content {
  float: left;
  padding: 16px 20px;
  margin-left: 20px;
  width: 600px;
  background-color:rgba(255,255,255,0.90);
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
}

#content {

}


#content code {
  font-size: 12px;
  padding: 5px;
}

#content pre {
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
}

#content p code {
  display: inline-block;
  padding: 0 5px;
  margin: 0;
}