* {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	font-size: 14px;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  background: grey;
}

#main {
	overflow: hidden;
	margin: 20px;
}

.row {
	margin-bottom: 10px;
  overflow: hidden;
}

h1 {
	font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

#post-list {
  float: left;
  width: 400px;
  background-color:rgba(255,255,255,0.5);
  padding: 20px;
  list-style: none;
}

.single-post {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}