<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Michael Fasani</title>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/rainbowlinenumbers.css">
  <link rel="stylesheet" href="css/rainbow/themes/monokai.css">
</head>
<body>

  <div id="main">
    <ul id="post-list"></ul>
    <div id="content"></div>
  </div>

  <script type="text/template" id="single-excerpt">
    <div id="excerpt-<%= id %>">
      <h1><%= title_plain %></h1>
      <%= excerpt %>
      <p>Date: <%= date %></p>
      <div class="meta">
        <% if (categories.length > 0) { %>
          <span class="categories">
            <% for (key in categories) { %>
              <%= categories[key].title %>
            <% } %>
          </span>
        <% } %>
        
        <% if (tags.length > 0) { %>
          <span class="tags">
            <% for (key in tags) { %>
              <%= tags[key].title %><% if (key != (tags.length-1)) { %>,<% } %>
            <% } %>
          </span>
        <% } %>
<!--
        <% if (author.name.length > 0) { %>
          <span class="author"><%= author.name %></span>
        <% } %>
-->
        <% if (comment_count > 0) { %>
          <span class="comments"><%= comment_count %></span>
        <% } %>
      </div>
    </div>
  </script>

  <script type="text/template" id="single-post">

    <div id="post-<%= id %>">
      <!--<p><%= type %></p>-->
      <!--<p><%= slug %></p>
      <!--<p><%= url %></p>
      <!--<p><%= status %></p>-->
      <!--<p><%= title_plain %></p>-->
      
      <h1><%= title %></h1>
      <%= content %>

      <!--<p><%= excerpt %></p>-->
      <p>Date: <%= date %></p>
      <!--<p><%= modified %></p>-->
     
        <% if (categories.length > 0) { %>
          <p class="categories">
          Posted in: 
            <% for (key in categories) { %>
              <%= categories[key].title %>
            <% } %>
          </p>
        <% } %>

        <% if (tags.length > 0) { %>
          <p class="tags">
          Posted in: 
            <% for (key in tags) { %>
              <%= tags[key].title %>, 
            <% } %>
          </p>
        <% } %>

        <% if (author.nickname.length > 0) { %>
          <p><%= author.nickname %></p>
        <% } %>


        <% if (comment_status == "open") { %>
              <a href="#">You can post a comment</a>
        <% } %>

      <p><%= attachments %></p>
      <p>Comments: <%= comment_count %></p>
      <p><%= comments %></p>
      <!--<p><%= custom_fields %></p>-->
    </div>
  </script>

  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

  <script type="text/javascript"  src="js/libs/rainbow.min.js"></script>
  <script type="text/javascript"  src="js/libs/language/generic.js"></script>
  <script type="text/javascript"  src="js/libs/language/javascript.js"></script>

<script type="text/javascript"  src="js/libs/rainbow.linenumbers.min.js"></script>

  <script type="text/javascript" src="js/models/postItem.js"></script>
  <script type="text/javascript" src="js/collections/postList.js"></script>
  <script type="text/javascript" src="js/views/mainView.js"></script>
  <script type="text/javascript" src="js/views/excerptListView.js"></script>
  <script type="text/javascript" src="js/viewsingle/excerptSingleView.js"></script>
  <script type="text/javascript" src="js/viewsingle/postSingleView.js"></script>
  <script type="text/javascript" src="js/routes.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      var mainView = new MainView();
    });
  </script>

</body>
</html>