<a id="excerpt-<%= id %>" href="#/posts/<%= slug %>">
  <h1><%= title_plain %></h1>
  <p class="date">Posted <%= prettyDate %>.</p>
  <%= excerpt %>
  <div class="meta">
    <% if (categories.length > 0) { %>
      <span class="categories">
        <% for (key in categories) { %>
          <%= categories[key].title %>
        <% } %>
      </span>
    <% } %>
    
    <% if (tags.length > 0) { %>
      <span class="tags">
        <% for (key in tags) { %>
          <%= tags[key].title %><% if (key != (tags.length-1)) { %>,<% } %>
        <% } %>
      </span>
    <% } %>
<!--
    <% if (author.name.length > 0) { %>
      <span class="author"><%= author.name %></span>
    <% } %>
-->
    <% if (comment_count > 0) { %>
      <span class="comments"><%= comment_count %></span>
    <% } %>
  </div>
</a>