<div id="post-<%= id %>">
<!--<p><%= type %></p>-->
<!--<p><%= slug %></p>
<!--<p><%= url %></p>
<!--<p><%= status %></p>-->
<!--<p><%= title_plain %></p>-->

<h1 class="title"><%= title %></h1>
<p class="date">
  <span class="day"><%= dateDay %></span>
  <span class="month-year"><%= dateMonthYear %></span>
</p>
<p class="comment-count">
  <span class="count"><%= comment_count %></span>
  <span class="comment"><% if (comment_count == 1) { %>Comment <% } else {%> Comments <% } %></span>
</p>
<%= content %>

<!--<p><%= excerpt %></p>-->
<!--<p><%= modified %></p>-->

  <% if (categories.length > 0) { %>
    <p class="categories">
    Posted in: 
      <% for (key in categories) { %>
        <%= categories[key].title %>
      <% } %>
    </p>
  <% } %>

  <% if (tags.length > 0) { %>
    <p class="tags">
    Tagged: 
      <% for (key in tags) { %>
        <%= tags[key].title %>, 
      <% } %>
    </p>
  <% } %>
<!--
  <% if (author.nickname.length > 0) { %>
    <p><%= author.nickname %></p>
  <% } %>
-->
  <% if (comment_status == "open") { %>
        <a href="#">You can post a comment</a>
  <% } %>

<p><%= attachments %></p>
<p><%= comments %></p>
<!--<p><%= custom_fields %></p>-->
</div>